<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQuoteService" />
        <binding name="BasicHttpBinding_ISymbolService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/QuoteService/" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IQuoteService" contract="QuoteServiceProxy.IQuoteService"
          name="BasicHttpBinding_IQuoteService" />
      <endpoint address="http://localhost/SymbolService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISymbolService" contract="SymbolServiceProxy.ISymbolService"
                name="BasicHttpBinding_ISymbolService" />
    </client>
  </system.serviceModel>
</configuration>